name: Test Send Email 

on:
   push:
     branches:
         - main
   
jobs:
    send_email:
      runs-on: ubuntu-latest
      steps:
        - uses: dawidd6/action-send-mail@v3.7.1
        - name: Send email

  
